<section>
    <h2>Efficiency</h2>
    <h4>Basic Concepts</h4>
    <p>
        <small>Created by <a href="#">Antonio Pierro</a> / <a href="http://twitter.com/an_pierro">@an_pierro</a></small>
    </p>
    <p>
        <small>ITIS Scano - Cagliari April 2016</small>
    </p>
    <aside class="notes">
        The topic of this lesson is about efficiency.
        How can make program to work quickly enough to be useful.
        It is very important in designing program.
        If you write program badly the program can run more time than you can.
    </aside>
</section>
<section>
    <section>
        <h2>Introduction 1/3</h2>
        <p>
            <ul>
                <li>International Organization for Standardization (ISO)</li>
                <li>It is headquartered in Geneva, Switzerland (164 member countries).</li>
                <li>The ISO standards help businesses to increase productivity while minimizing errors and waste.</li>
                <li>Reducing energy consumption and dependency on fossil fuels is the major challenge.</li>
            </ul>
        </p>
        <aside class="notes">ISO organizzazione che rilascia le linee guida per un sistema di gestione della qualità al fine di migliorare l'efficenza. (riduzione di sprechi.)
    iso non è un acronimo - deriva invece dal greco ἴσος pronuncia isos uguale
        </aside>
    </section>
    <section>
        <h2>Introduction 2/3</h2>
        <ul>
            <li>Google search creates one gram of CO<sub>2</sub> emissions [2]</li>
            <li>3.5 billions Google searches occur every day</li>
            <li>3.5 millions kilograms of CO<sub>2</sub> are emitted into the atmosphere just due to Google searches.</li>
            <li>ICT Industry accounts for 2% of global CO<sub>2</sub> emissions [2]</li>
        </ul>
        <aside class="notes">
            ICT - Information and communications technology
            tecnologie dell'informazione e della comunicazione
            Industry -> settore
        </aside>
    </section>
    <section>
        <h2>Introduction 3/2</h2>
        <p>
            <ul>
                <li>Efficiency is the (often measurable) ability to avoid wasting materials, energy, efforts, money, and time in doing something or in producing a desired result.</li>
                <li>In more mathematical or scientific terms, it is the capability of a specific application to produce a specific outcome with a minimum amount or quantity of waste, expense, or unnecessary effort.</li>
            </ul>
        </p>
    </section>
</section>

<section>
    <h2>Goal</h2>
    <p>
        <ul>
            <li class="fragment fade-in">We are not going to be expert in this field.</li>
            <li class="fragment fade-in">We will have some intuitions about the efficiency.</li>
            <li class="fragment fade-in">Understanding why some programs take much more time than others.</li>
            <li class="fragment fade-in">How to write programs that will finish before you die.</li>
        </ul>
    </p>
    <aside class="notes">
        intuition .. sensazione, presagio, sesto senso.
        bionformatica .. risoluzione di problemi biologici con metodi informatici. (discipline scientifiche) .. .analisi di genomi (il DNA) conservati nei database.
        immaginate che ogni genoma sia un libro con tante lettere senza spazi..
        ogni genoma contiene 23 coppie cromosomi..e ogni cromosoma può contenre fino a 250 milioni di lettere.
    </aside>
</section>

<section>
    <h2>Preliminary Test</h2>
    <p class="left">The first rule of any technology used in a business is that automation applied to an efficient operation will magnify the efficiency. <br> The second is that automation applied to an inefficient operation will magnify the inefficiency. <br> Who said that?</p>
    <img src="src/images/efficiency-test-pre.qr.jpg" style="float: right;">
    <ul>
        <li>Bill Gates</li>
        <li>Enrico Mattei</li>
        <li>Eric Ford</li>
        <li>Fred Brooks</li>
        <li>Peter Drucker</li>
    </ul>
    <p>
        Please give your response at http://svel.to/lgo
    </p>
    <aside class="notes">
        Peter Drucker -> The Practice of Management (SMART),  professor of politics and philosophy and Management at New York University
        Fred Brooks -> The Mythical Man-Month -> software engineer (book The Mythical Man-Month, development of IBM's System/360 -> 32-bit registers)
    </aside>
</section>
<section>
    <h2>What is efficiency?</h2>
    <ul>
        <li class="fragment fade-in">Efficiency is not about code details (changing some instructions).
            <pre class="big">
a = x ? x : y;
// The above expression is equivalent
// to the below expression
a = x ?: y;
// Clever but bad because
// it takes time to figure out.</pre>
            </li>
        <li class="fragment fade-in">Efficiency is about choosing the right algorithm.</li>
        <li class="fragment fade-in">Clever algorithms are hard to invent.</li>
        <li class="fragment fade-in">We want to find an algorithm that some clever people already know, in order to solve our problem.</li>
    </ul>
    <aside class="notes">
        How come I transform my problem to match a problem that some clever person already knows how to solve?</aside>
</section>

<section>
    <h2>How do we think about efficiency?</h2>
    <ul>
        <li class="fragment fade-in">We think about efficiency in two dimensions: space and time. </li>
        <li class="fragment fade-in">We can often trade one for the other.</li>
        <li class="fragment fade-in">We are going to focus our attention on time.</li>
    </ul>
    <aside class="notes">We can make a program run faster by using more memory or use less memory at the cost of making it run more slowly.</aside>
</section>

<section>
    <section>
        <h2>Time efficiency</h2>
            <ul>
                <li class="fragment fade-in">How long do some algorithms take to run?</li>
                <li class="fragment fade-in">How would you answer this question?</li>
                <li class="fragment fade-in">I could run an algorithm on a computer based on some input and I could time it with my watch.</li>
                <li class="fragment fade-in">That would be a really bad way to answer.</li>
            </ul>
        </p>
    </section>
    <section>
        <h2>Why?</h2>
        <ul>
            <li class="fragment fade-in">The time is influenced by the speed of the machine.</li>
            <li class="fragment fade-in">It depends on the cleverness of the compiler implementation.</li>
            <li class="fragment fade-in">It depends on the input.</li>
        </ul>
        <aside class="notes">
            compiler transforms source code written in a programming language
        </aside>
    </section>
    <section>
        <h2>I need to talk about it in a abstract way</h2>
        <ul class="fragment fade-in">
            We define a mathematical function where:
            <ol>
                <li class="fragment fade-in">the first natural number corresponds to the size of the input,</li>
                <li class="fragment fade-in">the result of the function is the number of steps that the computation will take for an input of that size:</li>
            </ol>
            <pre class="fragment fade-in big">
T: N -> N
            </pre>
        </ul>
    </section>
    <section>
        <h2>What is a step?</h2>
        <p class="fragment fade-in">
            We are going to use a model of computer:
            <ul>
                <li class="fragment fade-in">Random-access machine (RAM).</li>
                <li class="fragment fade-in">A step is an operation that takes constant time.</li>
            </ul>
        </p>

        <aside class="notes">
            RAM - programma rappresentato da una sequenza finita di istruzioni, non è presente una gerarchia di memoria.
            In the early days of computers -> tape
            Modern computers have what's called a memory hierarchy (gerarchie di memoria registri, cache, ram ) where you have levels of memory, the level one cache, the level two cache, the actual memory. And it can differ by say a factor of a 100
        </aside>
    </section>
    <section>
        <h2>How long will an algorithm take to run?</h2>
        <p>
            There are several different ways we could answer (linear search):
            <ul>
                <li class="fragment fade-in">Best case</li>
                <li class="fragment fade-in">Average case</li>
                <li class="fragment fade-in">Worst case (Murphy's law)</li>
            </ul>
        </p>
        <aside class="notes">What's the worst that can happen? And that's nice because it means that there are no surprises.</aside>
    </section>
</section>
<section>
    <section>
        <h2>Example 1/2</h2>
        <pre class="big">
        var f = function(n) {
            var answer;
            answer = 1;
            while (n > 1) {
                answer *= n;
                n -= 1;
            }
            return answer;
        }</pre>
        <ul>
            <li class="fragment fade-in">How long will this program take to run in terms of number of steps?</li>
            <li class="fragment fade-in">T(n) = 2 + 3n + 1 </li>
        </ul>
    </section>
    <section>
        <h2>Example 2/2</h2>
        <p class="left">
            <pre class="big">
var fib = function (n) {
    if (n === 0 || n === 1) {
        return 1;
    } else {
        return fib(n - 1) + fib(n - 2);
    }
}           </pre>
        </p>
        <ul>
            <li class="fragment fade-in">How long will this program take to run in terms of number of steps?</li>
            <li class="fragment fade-in">T(n) = 2<sup>n</sup></li>
        </ul>
    </section>
    <section>
        <h2>Big O notation</h2>
        <ul>
            <li>What is the function that characterizes the algorithm implemented by the previous code?</li>
            <ol>
                <li class="fragment fade-in">When I look at function complexity I do ignore additive constants.</li>
                <li class="fragment fade-in">We use a model of asymptotic growth to understand how the complexity increases.</li>
                <li class="fragment fade-in">This is typically done by a notation called "big O notation".</li>
                <li class="fragment fade-in">Example: T(n) = 2 + 3n + 1  -> O(n) (the time linearly increases with n)</li>
            </ol>
        </ul>
    </section>
    <section>
        <h2>Orders of common functions</h2>
        <p>
            <table class="table">
                <tr>
                    <th>Notation</th><th>Name</th>
                </tr>
                <tr>
                    <td>O(1)</td><td>costant</td>
                </tr>
                <tr>
                    <td>O(log n)</td><td>logarithmic</td>
                </tr>
                <tr>
                    <td>O(n)</td><td>linear</td>
                </tr>
                <tr>
                    <td>O(n<sup>2</sup>)</td><td>quadratic</td>
                </tr>
                <tr>
                    <td>O(n<sup>c</sup>)</td><td>polynomial</td>
                </tr>
                <tr>
                    <td>O(c<sup>n</sup>)</td><td>exponential</td>
                </tr>
                <tr>
                    <td>O(n!)</td><td>factorial</td>
                </tr>
            </table>
        </p>
    </section>
    <section>
        <h2>Graph comparisons</h2>
        <p>
            <img src="src/images/graph-comparisons.png">
        </p>
    </section>
</section>
<section>
    <h2>Example 1</h2>
    <pre class="big">
var memo = [0, 1];
var fib = function (n) {
    var result = memo[n];
    if (typeof result !== 'number') {
        result = fib(n - 1) + fib(n - 2);
        memo[n] = result;
    }
    return result;
};  </pre>
    <p>
        T(n) = O(n)
    </p>
</section>
<section>
    <h2>Efficiency Test</h2>
    <p>
        <img src="src/images/efficiency-test.qr.jpg">
    </p>
    <p>
        http://svel.to/lgn
    </p>
</section>
<section>
    <h2>References</h2>
    <p>
        <ul>
            <li>[1] The Economic Impacts of Inadequate Infrastructure for Software Testing. http://www.nist.gov/director/planning/upload/report02-3.pdf</li>
            <li>[2] Columbia University - Carbon Footprinting the Internet - The Journal of Sustainable Development</li>
            <li><a href="http://fooplot.com/">FooPlot | Online graphing calculator and function plotter</a></li>
        </ul>
    </p>
</section>






