<!-- Begin page content -->
<div class="container">
    <h3>Unit test</h3>
    <div class="jumbotron">
        <h4>Slides</h4>
        <a ui-sref="slides.outlines" class="btn btn-lg btn-primary">Outlines</a>
        <a ui-sref="slides.software-testing-general-concepts" class="btn btn-lg btn-primary">Software Testing General Concepts</a>
        <a ui-sref="slides.test-introduction" class="btn btn-lg btn-primary">Test Software (introduction)</a>
        <a ui-sref="slides.prerequisites" class="btn btn-lg btn-primary">Prerequisites</a>
        <a ui-sref="slides.unit-test" class="btn btn-lg btn-primary">Introduction to Unit Testing</a>
        <a ui-sref="slides.angulajs-test" class="btn btn-lg btn-primary">AngularJs Testing with Jasmine</a>
        <a ui-sref="slides.symfony-test" class="btn btn-lg btn-primary">Symfony Testing with Jasmine</a>
        <a ui-sref="slides.efficiency" class="btn btn-lg btn-primary">Efficiency</a>
    </div>
    <div class="jumbotron">
        <h4>Exercises (for each repository watch out the pull requests -> closed)</h4>
        <a class="btn btn-lg btn-primary" href="https://github.com/antonio-pierro/reverse-engineering-showcase">Reverse Engineering with Symfony</a>
        <a class="btn btn-lg btn-primary" href="https://github.com/antonio-pierro/yeoman-showcase">Yeoman Angularjs test</a>
        <a class="btn btn-lg btn-primary" href="https://github.com/antonio-pierro/yo-angulare-requirejs-protractor-showcase">Protractor</a>
        <a class="btn btn-lg btn-primary" href="https://github.com/antonio-pierro/karma-showcase">Karma</a>
        <a class="btn btn-lg btn-primary" href="https://github.com/devw/backbone-symfony">Backbone and Symfony</a>
    </div>
</div>
