<section>
    <h3>Software testing - Outlines</h3>
    <ul>
        <li>Motivation</li>
        <li>Testing frameworks</li>
        <li>Automated testing</li>
        <li>Application using testing framework</li>
        <li>Best practices for software testing</li>
    </ul>
    <aside class="notes">
        welcome to this course of test unit.<br>
    </aside>
</section>
<section>
    <section>
        <h3>Motivation 1/2</h3>
        <ul>
            <li>If you look at how most programmers spend their time,</li>
            <li>you’ll find that writing code is actually a small fraction.</li>
            <li>Most time is spent debugging.</li>
        </ul>
    </section>
    <section>
        <h3>Motivation 2/2</h3>
        <ul>
            <li>Every programmer can tell a story of a bug that took a whole day (or more) to find;</li>
            <li>Fixing the bug is usually pretty quick, but finding it is a nightmare.</li>
        </ul>
    </section>
</section>
<section>
    <h3>Testing frameworks</h3>
    <ul>
        <li>Jasmine: Behavior Driven Development testing framework for JavaScript.</li>
        <li>Protractor:  End-to-end testing framework to test a web application in a real-world scenario</li>
        <li>PHPUnit: Unit Testing Framework for PHP</li>
        <li>Behat: Behavior Driven Development testing framework for for PHP.</li>
    </ul>
</section>
<section>
    <h3>Automated Testing</h3>
    <ul>
        <li>Automated testing in Travis CI;</li>
        <li>Headless browser;</li>
        <li>Testacular, renamed 'Karma': test runner for javascript;</li>
        <li>Testem: test runner for javascript</li>
    </ul>
</section>
<section>
    <h3>Application using testing framework</h3>
    <ul>
        <li>AngularJS application using Requirejs, Jasmine and Protractor.</li>
        <li>Symfony Application using Sonata, PHPUnit and Behat Bundle.</li>
    </ul>
</section>
<section>
    <h3>Best practices for software testing</h3>
    <ul>
        <li>How to Write Good Unit Tests</li>
        <li>Refactoring a Test</li>
        <li>Behat by example</li>
    </ul>
</section>
