<section>
    <h2>Prereqiusites</h2>
    <ul>
        <li>Setup git, nodejs and bower</li>
    </ul>
    <hr>
    <p>Antonio Pierro <a href="https://twitter.com/an_pierro">@an_pierro</a></p>
    <hr>
    <p class="reveal"><small> If there are any mistakes, requests or comments, you can send an email to antonio.pierro[at]gmail.com</small></p>
</section>
<section>
    <section>
        <h2>Setup git for windows</h2>
        <ul>
            <li>
            </li>
        </ul>
    </section>
</section>
