<section>
    <h2>Prerequisites</h2>
    <ul>
        <li>Git</li>
        <li>Node.js</li>
        <li>Package managers:
            <ul>
                <li>npm</li>
                <li>Bower</li>
                <li>Composer</li>
            </ul>
        </li>
        <li>yeoman</li>
    </ul>
    <hr>
    <p>Antonio Pierro <a href="https://twitter.com/an_pierro">@an_pierro</a></p>
    <hr>
    <p class="reveal"><small> If there are any mistakes, requests or comments, you can send an email to antonio.pierro[at]gmail.com</small></p>
</section>
<section>
    <section>
        <h2>Setup git for windows</h2>
        <ul>
            <li>Git is a distributed revision control system</li>
            <li>Download and install "git bash" for windows.</li>
            <li><a href="http://git-scm.com/download/win">http://git-scm.com/download/win</a></li>
            <li>How do you copy and paste into Git Bash? If the "QuickEdit Mode" is on, "right clicking" and press "Insert" to copy and past.</li>
        </ul>
    </section>
    <section>
        <h3>Generating SSH keys</h3>
        <ul>
            <li>Windows OS:
                <pre>
    > # windows
    > ssh-keygen.exe
    > cat .ssh/id_rsa.pub | clip
                </pre>
            </li>
            <li>OSX users:
                <pre>
    > # osx
    > ssh-keygen
    > more .ssh/id_rsa.pub | pbcopy
                </pre>
            </li>
            <li>Add your SSH key to your GitHub account.</li>
        </ul>
    </section>
    <section>
        <h3>Change the URI (URL) for a remote Git repository</h3>
        <ul>
            <li><em>git remote</em> manages the set of repositories ("remotes") whose branches you track.</li>
            <li>View existing remotes:
                <pre>
    > git remote -v
    # origin  https://github.com/user/repo.git (fetch)
    # origin  https://github.com/user/repo.git (push)
                </pre>
            </li>
            <li>Change the 'origin' remote's URL:
                <pre>
    > git remote set-url \
    origin ssh://git@github.com/user/repo.git

    > git remote -v
    # Verify new remote URL
    # origin  ssh://git@github.com/user/repo.git (fetch)
    # origin  ssh://git@github.com/user/repo.git (push)
                </pre>
            </li>
        </ul>
    </section>
    <section>
        <h3>Git commands</h3>
        <ul>
            <li>
                Removing multiple files from a Git repository that have already been deleted from disk:
                <pre>

    git rm $(git ls-files --deleted)
                </pre>
            </li>
            <li>
                Undo a local commit
                <pre>
    git reset --soft HEAD~1
                </pre>
            </li>
            <li>
                Undo a local add
                <pre>
    git reset .
                </pre>
            </li>
            <li>
                You want to switch branches, but you don’t want to commit what you’ve been working on yet.
                <pre>

    > git stash
    > git stash list
    # stash@{0}: WIP on master: 049d078 added the index file
    # stash@{1}: WIP on master: c264051 Revert "added file_size"

    > git stash apply stash@{1}
                </pre>
            </li>
        </ul>
    </section>
</section>
<section>
    <section>
        <h3>Node.js</h3>
        <ul>
            <li>Node.js is an open source, cross-platform runtime environment for server-side and networking applications</li>
            <li>npm is a package manager for JavaScript, and is the default for Node.js</li>
            <li>npm is bundled and installed automatically with Node.js</li>
        </ul>
    </section>
    <section>
        <h3>Create a package.json file</h3>
        <ul>
            <li>This will ask you a bunch of questions, and then write a package.json for you:
                <pre>

    > mkdir 01app # Create a directory named 01app
    > cd 01app # change directory
    > mkdir app # Create a directory named app
    > mkdri test # Create a directory named test

    > npm init # Create a package.json file
                </pre>
            </li>
        </ul>
    </section>
    <section>
        <h3>Install packages</h3>
        <ul>
            <li>This command installs a package, and any packages that it depends on.
                <pre>

    > npm install karma --save
    > npm install karma-jasmine --save
    > npm install karma-chrome-launcher --save

    > ls node_modules/
    # karma karma-jasmine karma-chrome-launcher
                </pre>
            </li>
        </ul>
    </section>
    <section>
        <h3>Add a path to PATH</h3>
        <ul>
            <li>PATH is an environmental variable in Linux and other Unix-like operating systems that tells the shell which directories to search for executable files</li>
            <li>
                <pre>

    > export PATH=node_modules/karma/bin:$PATH
                </pre>
            </li>
        </ul>
    </section>
</section>
<section>
    <section>
        <h3>Bower</h3>
        <ul>
            <li>Bower is a package manager for the web.</li>
            <li>Install it with npm:
                <pre>

    npm install -g bower
                </pre>
            </li>
            <li>
               Show the help message
               <pre>

    bower -h
               </pre>
            </li>
        </ul>
    </section>
</section>
<section>
    <section>
        <h3>Preferences.sublime-settings</h3>
        <pre>
{
    "folder_exclude_patterns": ["node_modules", "bower_components", ".git"],
    "tab_size": 4,
    "translate_tabs_to_spaces": true
}


        </pre>
    </section>
</section>
<section>
    <section>
        <h3>yeoman</h3>
        <pre>
    > sudo npm install -g yo
    > sudo npm install -g generator-webapp
    # just for the windows user
    > npm install -g grunt-cli

    > mkdir yoapp
    > cd yoapp/
    > yo
    > grunt server
        </pre>
    </section>
    <section>
        <h3>Grunt</h3>
        <ul>
            <li>Grunt is a JavaScript task runner;</li>
            <li>It has a robust ecosystem of plugins focused around building modern web applications;</li>
            <li>It includes tools such as integrated testing, minification and LiveReload;</li>
            <li>It is built atop Node.js, needed in order to run.</li>
        </ul>
    </section>
    <section>
        <h3>Gruntfile.js</h3>
        <ul>
            <li>Watches files for changes and runs tasks based on the changed files:
                <pre>

    ...
    styles: {
        files: ['<%= config.app %>/styles/{,*/}*.css'],
        tasks: ['newer:copy:styles', 'autoprefixer']
    },
    ...
                </pre>
            </li>
        </ul>
    </section>
    <section>
        <h3>grunt.registerTask</h3>
        <ul>
            <li>to start a static server with the base path set as the web root.
Example: Serve ./web-root as http://localhost:8080/:
                <pre>
    > grunt server
                </pre>
            </li>
            <li>
                <pre>
    > grunt test
                </pre>
            </li>
            <li>
                <pre>
    > grunt build
                </pre>
            </li>
        </ul>
    </section>
    <section>
        <h3>Run grunt server in dist directory</h3>
        <ul>
            <li>
                grunt serve:dist</li>
            <li>start a simple HTTP server like the one that comes with python or php
                <pre>
    > cd dist

    > python -m SimpleHTTPServer &lt;port>
    # or
    > sudo php -S 127.0.0.1:83
                </pre>
            </li>
        </ul>
    </section>
    <section>
        <h3>AngularJS-RequireJS generator</h3>
        <ul>
            <li>Install generator-angular-require:
                <pre>
    npm install -g generator-angular-require
                </pre>
            </li>
            <li>Run yo angular-require, optionally passing an app name:
                <pre>
    mkdir my-new-project && cd $_
    yo angular-require [app-name]
                </pre>
            </li>
            <li>
                <pre>
    vim package.json # remove grunt-filerev line
    gem install compass
                </pre>
            </li>
        </ul>
    </section>
</section>
