<section>
    <h2>Unit test</h2>
    <ul>
        <li>Introduction to Unit Testing</li>
        <li>Test runners</li>
        <li>Stub and Mock</li>
    </ul>
    <hr>
    <p>Antonio Pierro <a href="https://twitter.com/an_pierro">@an_pierro</a></p>
    <hr>
    <p class="reveal"><small> If there are any mistakes, requests or comments, you can send an email to antonio.pierro[at]gmail.com</small></p>
</section>

<section>
    <h3>Stub and Mock</h3>
    <ul>
        <li>Stub - an object that provides predefined answers to method calls;</li>
        <li>Mock - an object on which you set expectations;</li>
        <li>Fake - an object with limited capabilities (for the purposes of testing), e.g. a fake web service.</li>
    </ul>
</section>
<section>
    <section>
        <h3>Test runners</h3>
        <ul>
            <li>A test runner is a Ttst-framework agnostic.
            <li>It allows running tests on multiple browsers quickly.</li>
            <li>It integrates with continuous builds systems.</li>
            <li>Some examples of "test runners" are Testem and Testacular (Karma)</li>
        </ul>
    </section>
</section>