<div class="container">
<div class="jumbotron">
    <h2>Esame di Fisica per il CdL in Biotecnologie</h2>
    <div class="well">
    <p>
      L’esame è diviso in tre esami parziali.
    </p>
    <p>
      Gli studenti che non hanno ottenuto il punteggio minimo di 14/30 per ognuna delle tre prove parziali, oppure non hanno sostenuto una o più prove parziali, dovranno sostenere l’esame scritto lunedì 23 febbraio 2015, alle ore 16:00.
      L’esame scritto sarà diviso in tre parti, gli studenti dovranno svolgere solo la parte in cui hanno ricevuto un punteggio inferiore a 14/30.
    </p>
    <p>
      Gli studenti che hanno ottenuto un punteggio uguale o superiore a 14/30  in tutti e tre gli esami parziali, potranno convalidare il voto finale preparando una tesina dal titolo “Dall'ottica fisica all'ottica geometrica”.
      Al voto finale (costituito dalla media dei tre voti parziali) si dovrà sommare il risultato della tesina, ovvero un punteggio che va da -4 a +4 a seconda del lavoro svolto.
    </p>
    </div>
      <div class="well">
<h3>Dall'ottica fisica all'ottica geometrica</h3>
    <p>
      Lo studente discuta il percorso storico che ha portato dall'ottica geometrica all'ottica fisica, facendo riferimento ai seguenti punti:
      <ul>
        <li>Legge di Snell (con relativo grafico);</li>
        <li>Differenza di cammino ottico;</li>
        <li>Esperienza delle due fenditure (con relativo disegno);</li>
        <li>Interferenza prodotta da un reticolo (con relativo disegno);</li>
        <li>Esempi di diffrazione.</li>
      </ul>
      </p>
      <p>
      Le immagini allegate alla tesine dovranno essere prodotte a mano o tramite un software di grafica.
La tesina dovrà avere una sezione dedicata alle fonti bibliografiche, in cui per ogni testo utilizzato si indicherà:  autore, titolo, rivista, numero, data o indirizzo del sito web.
La tesina dovrà essere consegnata via email al seguente indirizzo antonio.pierro _at_  gmail.com entro il giorno precedente la data d’appello in cui si vuole verbalizzare il voto.
    </p>

    </div>

    <div class="well">
      <h3>Indicazioni sull'esame di Fisica del 23 febbraio 2015</h3>
      <p>
        L’esame scritto sarà diviso in tre parti, gli studenti dovranno svolgere solo la parte in cui hanno ricevuto un punteggio inferiore a 14/30 oppure, nel caso in cui non si abbia mai sostenuto un esame parziale, completare tutte e tre le parti..
      </p>
      <ul>
        <li>Prima parte (meccanica del punto materiale)
        <ul>
          <li>Domande sicure:
            <ul>
              <li>Seconda legge di Newton</li>
            </ul>
            <li>Domande possibili:
            <ul>
              <li>funzionamento dell’orologio atomico</li>
              <li>tutti i moti di un punto materiale</li>
              <li>tutti i tipi di forze</li>
              <li>Lavoro</li>
            </ul>
          </li>
        </ul>
      </ul>

      <ul>
        <li>Seconda parte (meccanica dei fluidi e termodinamica)
        <ul>
          <li>Domande sicure:
            <ul>
              <li>Esercizio sulla spinta di archimede</li>
            </ul>
            <li>Domande possibili:
            <ul>
              <li>teorema di bernulli</li>
              <li>eseprimento di Joule</li>
              <li>flusso di calore</li>
              <li>primo e secondo principio della termodinamica</li>
            </ul>
          </li>
        </ul>
      </ul>

      <ul>
        <li>Terza parte (elettromagnetismo)
        <ul>
          <li>Domande sicure:
            <ul>
              <li>equazioni di maxwell</li>
              <li>polarizzazione</li>
            </ul>
            <li>Domande possibili:
            <ul>
              <li>legge di Coulomb</li>
              <li>legge di Ohm</li>
              <li>induzione elettromagnetica</li>
            </ul>
          </li>
        </ul>
      </ul>
      </div>
    <div class="well">
    <h3>Indicazioni sull'esame di marzo e date succesive</h3>
      <p>
        L'esame prevede una parte scritta e una parte orale, che si svolgeranno nella stessa giornata e verteranno su tutto il programma di Fisica, inclusa l'ottica geometrica e fisica.
      </p>
    </div>


</div>
</div>
